<div class="container">
    <div class="jumbotron d-flex justify-content-around text-center align-items w-100">
        <div class="card text-center">
        <h1>Eat Da Burger!</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Burgers To Eat:</h2>
                {{#each burgers}} 
                {{#unless devoured}}
                {{> burgers/devour devoured=true}} 
                {{/unless}} 
                {{/each}}
        </div>

        <div class="col-md-6">
            <h2>Devoured Burgers:</h2>
                {{#each burgers}} 
                {{#if devoured}} 
                {{> burgers/devour devoured=false}}
                <button class="delete-burger" data-id="{{this.id}}">FLUSH IT!</button>
                {{/if}} 
                {{/each}}
        </div>
    </div>
</div>

<div class="card text-center">
    <h3>Enter a Burger You Want To Eat</h3>
    <form class="create-form">
<div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" id="bur" name="name">
</div>

<button type="submit">Add Burger</button>
</form>
</div>
